header {
    color:  rgb(200, 200, 200);
    text-align:  center;
    padding-top:  4em;
    padding-bottom:  5em;
}

body {
    padding-top:  5em;
    background-image: url('image-1.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.quoteDiv  {
    text-align:  center;
    color:  rgb(200, 200, 200);
    font-weight:  200;
    font-size:  4.5em;
}

body p {
    text-align:  center;
    font-size:  2em;
    color:  rgb(200, 200, 200);
}